@mixin tittle-animation($animation) {
   animation-name: $animation;
   animation-duration: 3s;
   animation-timing-function: ease-out;
}

//phone <=600px, tablet-vertical <=900px
//tablet-horizontal <=1200px
//desctop > 1200px
@mixin respond($breakpoint) {
   @if $breakpoint == phone {
      @media (max-width: 37.5em) {
         @content;
      } //600px
   }

   @if $breakpoint == tab-v {
      @media (max-width: 56.25em) {
         @content;
      } //900px
   }

   @if $breakpoint == tab-h {
      @media (max-width: 75em) {
         @content;
      } //1200px
   }
}

@mixin clearfix {
   &::after {
      content: "";
      display: table;
      clear: both;
   }
}

@mixin absoluteCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
