$primary: #226622;
$primaryLight: #448844;
$primaryLighter: #bbffbb;
$primaryDark: #115511;
$primaryDarker: #004400;
$secondary: #333333;
$secondaryLight: #444444;
$secondaryLighter: #555555;
$secondaryDarker: #222222;
$positive: #44cc44;
$negative: #cc4444;
$primaryBackgorund: rgba(05, 08, 05, 01);
$headerBackgorund: rgba(184, 238, 58, 0.8);
$secondaryBackground: rgba(05, 65, 18, 0.8);
$primaryText: #efefef;
$secondaryText: #202020;
