@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typographt";
@import "base/utitilities";

@import "components/articles";
@import "components/header";

@import "layout/foot";
@import "layout/topNavBar";
@import "layout/articleBox";

@import "pages/home";
@import "pages/pageNotFound";

#mainArticle {
   min-height: 8rem;
}

#other {
   min-height: 4rem;
}

.order1 {
   order: 1;
}

.order2 {
   order: 2;
}

.order3 {
   order: 3;
}

.order4 {
   order: 4;
}

.padding {
   height: 2rem;
   width: 100%;
}
