$primary: #226622;
$primaryLight: #448844;
$primaryLighter: #bbffbb;
$primaryDark: #115511;
$primaryDarker: #004400;
$secondary: #333333;
$secondaryLight: #444444;
$secondaryLighter: #555555;
$secondaryDarker: #222222;
$positive: #44cc44;
$negative: #cc4444;
$primaryBackgorund: rgba(05, 08, 05, 01);
$headerBackgorund: rgba(184, 238, 58, 0.8);
$secondaryBackground: rgba(05, 65, 18, 0.8);
$primaryText: #efefef;
$secondaryText: #202020;

*,
*::after,
*::before {
   box-sizing: inherit;
   padding: 0px;
   border: 0;
   margin: 0;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   font-family: Lato, sans-serif;
   font-weight: 300;
   line-height: 1.7;
   color: $primaryText;
   background-color: $primaryBackgorund;
   padding: 1rem;
   margin: 0 auto;
   height: 100%;
   font-size: 1.6rem;
}

nav {
   width: 100%;
}

.topNavBar {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

header {
   height: 48vh;
   margin: 0 auto;
   background-image: linear-gradient(
      to right bottom,
      $headerBackgorund,
      $secondaryBackground
   );

   /* background-image:  url(../images/pexels-yadanar-kyaw-16153897_L.jpg);
     */
   background-size: cover;
   background-repeat: none;
   background-position: top;
   color: $negative;
   text-decoration: none;

   font-weight: 400;
   display: flex;
   flex-flow: column wrap;
   justify-content: top;

   clip-path: polygon(
      0 0,
      0 75%,
      10% 100%,
      20% 84%,
      46% 100%,
      56% 72%,
      82% 92%,
      90% 82%,
      100% 100%,
      100% 0
   );
}

ul {
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: stretch;
   align-content: space-between;
   gap: 2%;
}

li {
   font-size: 2.5rem;
}

a {
   color: $primaryText;
   text-decoration: none;
}

.tittle {
   position: absolute;
   left: 50%;
   top: 30%;
   transform: translate(-50%, -50%);
   color: $primaryText;
   text-transform: capitalize;
}

.tittle-main {
   font-size: 10rem;
   display: block;
   animation-name: moveInLeft;
   animation-duration: 3s;
   animation-timing-function: ease-out;
}

.tittle-sub {
   font-size: 4rem;
   letter-spacing: 1.4rem;
   text-align: center;
   display: block;
   animation-name: moveInRight;
   animation-duration: 3s;
   animation-timing-function: ease-out;
}

.logo {
   order: 2;
   font-size: 3rem;
   font-weight: 900;
}

.footer {
   /*display: flex;
   
    flex-flow: row wrap;*/
   order: 999;
   letter-spacing: 0.3rem;
   position: fixed;
   bottom: 0;
}
.footer h4 b {
   font-weight: 900;
   color: $headerBackgorund;
}

#mainArticle {
   min-height: 8rem;
}

#other {
   min-height: 4rem;
}

@media (min-width: 320px) {
}

@media (min-width: 1024px) {
   .tittle {
      font-size: 4rem;
   }

   .tittle h2 {
      font-size: 7rem;
      letter-spacing: 1.6rem;
   }

   .logo {
      font-size: 6.4rem;
      order: 0;
      flex-basis: 100%;
      text-align: center;
   }

   li {
      font-size: 2.9rem;
   }
}

@media (min-width: 1440px) {
   .tittle {
      font-size: 10rem;
   }

   .tittle h2 {
      font-size: 3rem;
      letter-spacing: 3rem;
   }

   .logo {
      font-size: 10rem;
      order: 2;
      justify-self: center;
      flex-basis: auto;
   }

   li {
      font-size: 3.5rem;
   }
}

.order1 {
   order: 1;
}

.order2 {
   order: 2;
}

.order3 {
   order: 3;
}

.order4 {
   order: 4;
}

.padding {
   height: 2rem;
   width: 100%;
}

.pageNotFound {
   background-image: url("../images/tree-3979965_640_reverse.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 64rem;
   height: 58rem;
   margin: 0 auto;
}

.pageNotFound h1 {
   position: relative;
   top: 8rem;
   left: -32rem;
   color: $headerBackgorund;
   font-weight: 700;
   text-align: center;
   font-size: 8rem;
   opacity: 1;
}

.pageNotFound h2 {
   position: relative;
   top: 46rem;
   text-align: center;
}

@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-10rem);
   }

   86% {
      transform: translateX(1rem);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   86% {
      transform: translateX(-1rem);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
